body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper{
    display: block;
    padding: 40px;
}
.input-box{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.input-field{
    display: flex;
    position: relative;
    width: 100%;
    height: 40px;
    margin: 13px;
}
.input-box .input-field i{
    position: absolute;
    top: 50%;
    left: 15px;
}
.input-box .input-field input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, .2);
    background-color: transparent;
    outline: none;
    padding: 5px 5px 5px 40px;
}
#error {
            color: red; 
            margin-top: 10px;
        }

@media (max-width:960px) {
    .logo{
        display: none;
    }
}

.btn{
    background-color: darkslateblue;
    color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, .2);
}