<%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/cart.css">
</head>

    <body>
        <%- include('includes/nav') %>
            <main>
                <section class="index">
                    <h2>ตะกร้าสินค้า</h2>
                    <div id="cart">
                        <div class="rental-card">
                            <img src="https://dokidokicos.com/cdn/shop/files/1_63d6aca4-1bf0-491b-af84-9f79b1ee5e44.jpg?v=1717159871"
                                alt="Product Image">
                            <div class="rental-info">
                                <a href="">Emilia</a>
                                <p>วันที่เช่า: 01/01/2024</p>
                                <p>วันที่คืน: 07/01/2024</p>
                                <p>สิ่งที่เช่า: ชุด วิก</p>
                                <p>ราคาค่าเช่า: 300฿</p>
                            </div>
                            <a href="#"><i class='bxr  bx-trash'  ></i></a>
                        </div>
                    </div>
                </section>
            </main>
            <%- include('includes/footer') %>
                <script src="/js/script.js"></script>
    </body>

    </html>