<%- include('includes/head') %>
  <link rel="stylesheet" href="/styles/chat.css">

  <body>
    <%- include('includes/nav') %>

      <main class="chat-customer-container section-p1">
        <h2 class="page-title">💜 แชทกับแอดมิน</h2>

        <div id="chat-box">
          <div id="messages" class="messages-area"></div>

          <form id="chat-form" class="chat-form">
            <input type="text" id="message" placeholder="พิมพ์ข้อความ..." autocomplete="off" />
            <button type="submit">ส่ง</button>
          </form>
        </div>
      </main>

      <%- include('includes/footer') %>

        <script src="/js/script.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/chat_customer.js"></script>
  </body>