<%- include('includes/head') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/styles/test.css">
    </head>

    <body>
        <%- include('includes/nav') %>
            <section id="prodetails" class="section-p1">
                <div class="single-pro-image">
                    <img src="https://dokidokicos.com/cdn/shop/files/1_63d6aca4-1bf0-491b-af84-9f79b1ee5e44.jpg?v=1717159871"
                        width="100%" id="MainImg" alt="">
                    <div class="small-img-group">
                        <div class="small-img-col">
                            <img src="https://dokidokicos.com/cdn/shop/files/1_63d6aca4-1bf0-491b-af84-9f79b1ee5e44.jpg?v=1717159871"
                                width="100%" class="small-img" alt="">
                        </div>
                        <div class="small-img-col">
                            <img src="https://ae-pic-a1.aliexpress-media.com/kf/Sfa6c29e9d71c434d88178bb42626cb30C.jpg"
                                width="100%" class="small-img" alt="">
                        </div>
                        <div class="small-img-col">
                            <img src="https://www.themadshop.com.au/img/product/emilia-cosplay-costume-re-zero-starting-life-in-another-world-12017573-1600.jpg"
                                width="100%" class="small-img" alt="">
                        </div>
                        <div class="small-img-col">
                            <img src="https://uwowocosplay.com/cdn/shop/files/2_eede980d-3be4-4694-993d-dcc2a146e4dc.jpg?v=1729237204&width=1445"
                                width="100%" class="small-img" alt="">
                        </div>
                    </div>
                </div>

                <div class="single-pro-details">
                    <h6>Re:Zero</h6>
                    <h4>Emilia</h4>
                    <h2>Price</h2>
                    
                    <label><input type="radio" name="mode" value="test" checked> เทส (2 วัน)</label>
                    <label><input type="radio" name="mode" value="pri"> ไพร (3 วัน)</label>

                    <select name="components" id="">
                        <option value="" disabled selected>เลือกของเช่า</option>
                        <option value="set-wig">ชุด วิก</option>
                        <option value="set-wig-prop">ชุด วิก พร๊อบ</option>
                        <option value="set-wig-shoe">ชุด วิก รองเท้า</option>
                        <option value="set-wig-prop-shoe">ชุด วิก พร๊อบ รองเท้า</option>
                        <option value="prop">พร๊อบ</option>
                        <option value="shoe">รองเท้า</option>
                    </select>

                    
                    <div  id="calendar"></div>


                    <button class="">Add to cart</button>
                    <h4>รายละเอียด</h4>
                    <span>ชุดนี้เป็นชุด Emilia จากเรื่อง Re:Zero โดยในเซ็ตประกอบด้วย ชุด, วิก, พร๊อบ และรองเท้า
                        (สามารถเลือกเช่าแยกได้)</span>
                </div>
            </section>
            <%- include('includes/footer') %>
                <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
                <script src="/js/script.js"></script>
                <script src="/js/booking.js"></script>
    <script>
        var MainImg = document.getElementById("MainImg");
        var smallimg = document.getElementsByClassName("small-img");

        smallimg[0].onclick = function() {
            MainImg.src = smallimg[0].src;
        }
        smallimg[1].onclick = function() {
            MainImg.src = smallimg[1].src;
        }
        smallimg[2].onclick = function() {
            MainImg.src = smallimg[2].src;
        }
        smallimg[3].onclick = function() {
            MainImg.src = smallimg[3].src;
        }
    </script>
    </body>


    </html>