<head>
  <link rel="stylesheet" href="/styles/forgetpassword.css">
  <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>

  <main>
    <div class="logo">
      <img src="/imag/LogoLenedly-removebg-preview.png" alt="Lendly Logo">
    </div>

    <div class="wrapper">
      <form id="forgetForm" method="POST" action="/auth/forgot-password">
        <h1 class="h1">Find your account</h1>

        <div class="input-box">
          <div class="input-field">
            <input type="email" placeholder="ป้อนอีเมล" name="email" id="email" required>
          </div>
        </div>

        <div class="input-box">
          <div class="input-field">
            <button id="forget" type="submit" class="btn">ถัดไป</button>
            <% if (typeof error !=='undefined' && error) { %>
              <p id="error">
                <%= error %>
              </p>
              <% } %>
          </div>
        </div>
      </form>

      <hr class="my-5">

      <div style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
        <a href="/login">← กลับไปยังหน้าเข้าสู่ระบบ</a>
      </div>
    </div>
  </main>

  <script src="/js/script.js"></script>
  </body>

  </html>