<%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/review.css">
    </head>
<body>
  <div class="logo">
    <img src="../public/imag/LogoLenedly-removebg-preview.png" alt="Lendly Logo"/>
  </div>

  <div class="wrapper">
    <form id="forgetFrom" method="post" action="/auth/forgot-password">
      <h1>ค้นหาบัญชีของคุณ</h1>

      <div class="input-box">
        <div class="input-field">
          <input
            type="email"
            placeholder="ป้อนอีเมล"
            name="email"
            id="email"
            required
          />
          <i class="bxr bx-user"></i>
        </div>
      </div>

      <div class="input-box">
        <div class="input-field">
          <button id="forget" type="submit" class="btn">ถัดไป</button>
          <% if (typeof error !== 'undefined' && error) { %>
            <p id="error"><%= error %></p>
          <% } %>
        </div>
      </div>
    </form>

    <hr class="my-5"/>

    <div style="display:flex;flex-direction:column;align-items:center;gap:10px;">
      <div style="display:flex;align-items:center;gap:5px;">
        <a href="/login">กลับไปยังหน้าเข้าสู่ระบบ</a>
      </div>
    </div>
  </div>
</body>
</html>
