<%- include('includes/head') %>
    </head>

    <body>
        <%- include('includes/nav') %>
            <section id="banner" class="section-p1">
                <h4>ใส่อะไรอ่ะ</h4>
            </section>

            <section id="new_product" class="section-p1 product1">
                <h2>ชุดมาใหม่</h2>
                <p>สามารถดูแต่ละหมวดหมู่ได้ที่หมวดหมู่</p>
                <div class="pro-container">
                    <div class="pro">
                        <img src="https://dokidokicos.com/cdn/shop/files/1_63d6aca4-1bf0-491b-af84-9f79b1ee5e44.jpg?v=1717159871"
                            alt="">
                        <div class="des">
                            <span>Re:Zero</span>
                            <h5>Emilia</h5>
                            <h4>300฿/400฿</h4>
                        </div>
                        <div class="btn-pro">
                            <a href="#"><i class='bx bx-heart btn'></i></a>
                            <a href="#"><i class="bxr  bx-cart btn"></i></a>
                        </div>
                    </div>
                </div>
            </section>

            <section id="all_product" class="section-p1 product1">
                <h2>ชุดทั้งหมด</h2>
                <p>สามารถดูแต่ละหมวดหมู่ได้ที่หมวดหมู่</p>
                <div class="pro-container">
                    <div class="pro">
                        <img src="https://dokidokicos.com/cdn/shop/files/1_63d6aca4-1bf0-491b-af84-9f79b1ee5e44.jpg?v=1717159871"
                            alt="">
                        <div class="des">
                            <span>Re:Zero</span>
                            <h5>Emilia</h5>
                            <h4>300฿/400฿</h4>
                        </div>
                        <div class="btn-pro">
                            <a href="#"><i class='bx bx-heart btn'></i></a>
                            <a href="#"><i class="bxr  bx-cart btn"></i></a>
                        </div>
                    </div>

                    <div class="pro">
                        <img src="https://dokidokicos.com/cdn/shop/files/1_63d6aca4-1bf0-491b-af84-9f79b1ee5e44.jpg?v=1717159871"
                            alt="">
                        <div class="des">
                            <span>Re:Zero</span>
                            <h5>Emilia</h5>
                            <h4>300฿/400฿</h4>
                        </div>
                        <div class="btn-pro">
                            <a href="#"><i class='bx bx-heart btn'></i></a>
                            <a href="#"><i class="bxr  bx-cart btn"></i></a>
                        </div>
                    </div>

                    <div class="pro">
                        <img src="https://dokidokicos.com/cdn/shop/files/1_63d6aca4-1bf0-491b-af84-9f79b1ee5e44.jpg?v=1717159871"
                            alt="">
                        <div class="des">
                            <span>Re:Zero</span>
                            <h5>Emilia</h5>
                            <h4>300฿/400฿</h4>
                        </div>
                        <div class="btn-pro">
                            <a href="#"><i class='bx bx-heart btn'></i></a>
                            <a href="#"><i class="bxr  bx-cart btn"></i></a>
                        </div>
                    </div>

                    <div class="pro">
                        <img src="https://dokidokicos.com/cdn/shop/files/1_63d6aca4-1bf0-491b-af84-9f79b1ee5e44.jpg?v=1717159871"
                            alt="">
                        <div class="des">
                            <span>Re:Zero</span>
                            <h5>Emilia</h5>
                            <h4>300฿/400฿</h4>
                        </div>
                        <div class="btn-pro">
                            <a href="#"><i class='bx bx-heart btn'></i></a>
                            <a href="#"><i class="bxr  bx-cart btn"></i></a>
                        </div>
                    </div>

                    <div class="pro">
                        <img src="https://dokidokicos.com/cdn/shop/files/1_63d6aca4-1bf0-491b-af84-9f79b1ee5e44.jpg?v=1717159871"
                            alt="">
                        <div class="des">
                            <span>Re:Zero</span>
                            <h5>Emilia</h5>
                            <h4>300฿/400฿</h4>
                        </div>
                        <div class="btn-pro">
                            <a href="#"><i class='bx bx-heart btn'></i></a>
                            <a href="#"><i class="bxr  bx-cart btn"></i></a>
                        </div>
                    </div>

                    <div class="pro">
                        <img src="https://dokidokicos.com/cdn/shop/files/1_63d6aca4-1bf0-491b-af84-9f79b1ee5e44.jpg?v=1717159871"
                            alt="">
                        <div class="des">
                            <span>Re:Zero</span>
                            <h5>Emilia</h5>
                            <h4>300฿/400฿</h4>
                        </div>
                        <div class="btn-pro">
                            <a href="#"><i class='bx bx-heart btn'></i></a>
                            <a href="#"><i class="bxr  bx-cart btn"></i></a>
                        </div>
                    </div>

                    <div class="pro">
                        <img src="https://dokidokicos.com/cdn/shop/files/1_63d6aca4-1bf0-491b-af84-9f79b1ee5e44.jpg?v=1717159871"
                            alt="">
                        <div class="des">
                            <span>Re:Zero</span>
                            <h5>Emilia</h5>
                            <h4>300฿/400฿</h4>
                        </div>
                        <div class="btn-pro">
                            <a href="#"><i class='bx bx-heart btn'></i></a>
                            <a href="#"><i class="bxr  bx-cart btn"></i></a>
                        </div>
                    </div>
                </div>
            </section>
        <%- include('includes/footer') %>
        <script src="/js/script.js"></script>
    </body>

</html>