

  <main>
    <div class="logo">
      <img src="/images/LogoLenedly-removebg-preview.png" alt="Lendly Logo">
    </div>

    <div class="wrapper">
      <form id="loginForm" method="POST" action="/auth/login">
        <h1>Lendly</h1>

        <div class="input-box">
          <div class="input-field">
            <input 
              type="text" 
              placeholder="ชื่อผู้ใช้" 
              name="username" 
              id="username" 

              required>
            <i class='bx bx-user'></i>
          </div>
        </div>

        <div class="input-box">
          <div class="input-field">
            <input 
              type="password" 
              placeholder="รหัสผ่าน" 
              name="password" 
              id="password" 
              required>
            <i class='bx bx-lock'></i> 
          </div>
        </div>

        <div class="input-box">
          <div class="input-field">
            <button id="submitBtn" type="submit" class="btn">เข้าสู่ระบบ</button>
            <% if (typeof error !== 'undefined' && error) { %>
              <p id="error"><%= error %></p>
            <% } %>
          </div>
        </div>
      </form>

      <hr class="my-5">

      <div style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
        <a href="/forgotpassword">ลืมรหัสผ่านใช่ไหม</a>
        <div style="display: flex; align-items: center; gap: 5px;">
          <p style="margin: 0;">ไม่มีบัญชีใช่ไหม</p>
          <a href="/register">สมัครบัญชี</a>
        </div>
      </div>
    </div>
  </main>


  <script src="/js/script.js"></script>
</body>
</html>
