<head>
    <link rel="stylesheet" href="/styles/style.css">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <div class="wrapper">
        <form id="RegisForm" method="POST" action="/api/register">
            <h1>สมัครบัญชี Lendly</h1>

            <div class="input-box">

                <!-- name -->
                <div class="input-field">
                    <input type="text" placeholder="ชื่อ" name="name" id="name">
                </div>

                <!-- last name -->
                <div class="input-field">
                    <input type="text" placeholder="นามสกุล" name="last_name" id="last_name">
                </div>

                <!-- username -->
                <div class="input-field">
                    <input type="text" placeholder="ชื่อผู้ใช้" name="username" id="username">
                    <small id="username-error" class="error-text"></small>
                    <i class='bxr  bx-user'></i>
                </div>

                <!-- phone Number -->
                <div class="input-field">
                    <input type="number" placeholder="เบอร์โทรศัพท์" name="customer_phone" id="phone">
                    <small id="phone-error" class="error-text"></small>
                    <i class='bxr  bx-phone'></i>
                </div>

                <!-- email -->
                <div class="input-field">
                    <input type="email" placeholder="อีเมล" name="customer_email" id="email">
                    <small id="email-error" class="error-text"></small>
                    <i class='bxr  bx-envelope'></i>
                </div>

                <!-- password -->
                <div class="input-field">
                    <input type="password" placeholder="รหัสผ่าน" name="password" id="password">
                    <small id="password-error" class="error-text"></small>
                    <i class='bx bx-show toggle-icon' id="togglePassword"></i>
                    <i class='bxr  bx-lock'  ></i>
                </div>

                <!-- confirm password -->
                <div class="input-field">
                    <input type="password" placeholder="ยืนยันรหัสผ่าน" name="confirm_password" id="confirm_password">
                    <small id="confirm_password-error" class="error-text"></small>
                    <i class='bx bx-show toggle-icon' id="toggleConfirmPassword"></i>
                    <i class='bxr  bx-lock'  ></i>
                </div>


            </div>

            <!-- terms and condition -->
            <div style="margin-top: 10px;">
                <label for="termsCheck" class="form-check-label">
                    <input type="checkbox" name="confirm" id="confirm"> ยอมรับ
                    <a href="#">ข้อตกลง และเงื่อนไข</a>
                </label>
            </div>

            <!-- submit button -->
            <div class="input-box">
                <div class="input-field">
                    <button id="submitBtn" type="submit" class="btn">สมัครบัญชี</button>
                </div>
            </div>
            <p id="form-error" style="color: red; margin-top: 10px;"></p>
        </form>
    </div>

    <!-- script ส่วนเพิ่ม -->
    <script src="/js/register.js"></script>
</body>

</html>