<%- include('includes/head') %>
    </head>

    <body>
        <%- include('includes/nav') %>
            <main>
                 <section class="index product1">
                    <h2>ผลการค้นหา "Emilia"</h2>
                    <div class="pro-container">
                        <div class="pro">
                            <img src="https://dokidokicos.com/cdn/shop/files/1_63d6aca4-1bf0-491b-af84-9f79b1ee5e44.jpg?v=1717159871"
                                alt="">
                            <div class="des">
                                <span>Re:Zero</span>
                                <h5>Emilia</h5>
                                <h4>300฿/400฿</h4>
                            </div>
                            <div class="btn-pro">
                                <a href="#"><i class='bx bx-heart btn'></i></a>
                                <a href="#"><i class="bxr  bx-cart btn"></i></a>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <%- include('includes/footer') %>
            <%- include('includes/chatWidget') %>
            
                <script src="/js/script.js"></script>
    </body>

    </html>