<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta 
    name="viewport" 
    content="width=device-width, initial-scale=1.0">
    <title>Lendly</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script  src="script.js" defer></script>
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="logo">
        <img src="LogoLenedly-removebg-preview.png">
    </div>
    <div class="wrapper">
        <form id="forgetFrom">
            <h1>รหัสผ่านใหม่</h1>
            <div class="input-box">
                <div class="input-field">
                    <input type="password" placeholder="รหัสผ่าน" name="password" id="password" >
                    <i class='bxr  bx-lock'  ></i> 
                </div>
                <div class="input-field">
                    <input type="password" placeholder="ยืนยันรหัสผ่าน" name="confirm_password" id="confirm_password" >
                    <i class='bxr  bx-lock'  ></i> 
                </div>
            </div>

            <div class="input-box">
                <div  class="input-field">
                    <button id="forget" type="submit" class="btn">ยืนยัน</button>
                    <p id="error"></p>
                </div>
            </div>  
        </form>

        <hr class="my-5">

        <div style="display: flex; flex-direction: column; align-items: center; gap: 10px;">

    </div>
</body>
</html>