 <footer  class="section-p1">
        <div class="col">
            <img src="/imag/LENDLY_logo.png" alt="" style="width: 50px;">
            <div class="follow">
                <h4>Follow Us </h4>
                <div class="row">
                    <i class="fa-brands fa-facebook"></i>
                    <h5>Fanpage</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>ทำไมต้องสั่งซื้อกับเรา</h4>
            <h5>เช็กคิวได้แบบเรียลไทม์</h5>
        </div>
        <div class="copyright">
            <p>&copy;2025, cat fat</p>
        </div>
    </footer>