<section id="header">
  <a href="/"><img src="/imag/LENDLY_logo.png" alt="" style="width: 50px;"></a>

  <!-- 🔍 ฟอร์มค้นหาสินค้า -->
  <form action="/category" method="get" class="input-field">
    <i class='bx bx-search'></i>
    <input type="text" name="search" placeholder="ค้นหาสินค้า..." value="<%= typeof searchTerm !== 'undefined' ? searchTerm : '' %>">

  </form>

  <div>
    <ul id="navbar">
      <li><a href="/">หน้าหลัก</a></li>
      <li><a href="/category" class="active">หมวดหมู่</a></li>
      <li><a href="/my_rentals">เช่าของฉัน</a></li>
      <li><a href="/all_review">รีวิวทั้งหมด</a></li>
      <li id="lg-fav"><a href="/favorites" class="nav-fav-link"><i class="bx bx-heart"></i></a></li>
      <li id="lg-bag"><a href="/cart"><i class='bx bx-cart'></i></a></li>

      <li id="lg-user" class="dropdown">
        <a href="javascript:void(0)" class="user-icon">
          <% if (user && user.profile_image_url) { %>
            <img src="<%= user.profile_image_url %>" alt="Profile" class="nav-profile-pic"
              style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;">
            <% } else { %>
              <i class='bx bx-user'></i>
              <% } %>
        </a>
        <ul class="dropdown-menu">
          <% if (!user) { %>
            <li><a href="/login">เข้าสู่ระบบ</a></li>
            <li><a href="/register">สมัครบัญชี</a></li>
            <% } else { %>
              <li><a href="/profile">จัดการโปรไฟล์</a></li>
              <li><a href="/api/auth/logout">ออกจากระบบ</a></li>
              <% } %>
        </ul>
      </li>

      <a href="#" id="close"><i class="bx bx-x"></i></a>
    </ul>
  </div>

  <div id="mobile">
    <i class='bx bx-heart'></i>
    <i class='bx bx-cart'></i>
    <i class='bx bx-user'></i>
    <i id="bar" class="fas fa-outdent"></i>
  </div>
</section>