<section id="header">
        <a href="#"><img src="/imag/LENDLY_logo.png" alt="" style="width: 50px;"></a>
            <div class="input-field">
                <i class='bx bx-search'></i>
                <input type="text" placeholder="ค้นหาสินค้า">
            </div>
        <div>
            <ul id="navbar">
                <li><a href="/">หน้าหลัก</a></li>
                <li><a href="/category">หมวดหมู่</a></li>
                <li><a href="my_rentals">เช่าของฉัน</a></li>
                <li ><a href="all_review">รีวิวทั้งหมด</a></li>
                <li id="lg-fav"><a href="favorites"><i class='bxr  bx-heart'></i> </a></li>
                <li id="lg-bag"><a href="cart"><i class='bxr  bx-cart'></i> </a></li>
                <li id="lg-user"><a href="#"><i class='bxr  bx-user'  ></i> </a></li>
                <a href="#" id="close"><i class="bxr bx-x"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <i class='bxr  bx-heart'></i> 
            <i class='bxr  bx-cart'></i>
            <i class='bxr  bx-user'  ></i>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>